<footer>
  <div id = "footer-nav">
  <div id = "links">
    <div id = "left-container">
    <a href="">About Us</a>
    <a href="">Feedback</a>
    <a href="">Contact</a>
  </div>
    <div id = "right-container">
    <a href="">Register as Seller</a>
    <a href="">Advertise with Loli</a>
    <a href="">Blogs</a>
  </div>
  </div>
  <div id = "social-media">
    <img src ="/img/social-fb.svg" alt="facebook"/>
    <img src ="/img/social-instagram.svg" alt="instagram"/>
    <img src ="/img/social-youtube.svg" alt="youtube"/>
    <img src ="/img/social-twitter.svg" alt="twitter"/>
  </div>
</div>
  <hr id = "separator">
  <div style = "background: #e6e7e8; overflow: auto">
  <p id ="disclaimer">By continuing past this page, you agree to our Terms of Service, Cookie policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners.<br>
  &copy; 2018 The Local Listing App. All rights reserved.</p>
</div>
</footer>
