header{
  background-color: #d63322;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#loli-logo{
  height: 40px;
  width: 40px;
}

#search-icon-mobile{
  margin-left: auto;
}

#account-link{
  display: none;
  text-decoration: none;
  color: white;
}

#nav-search{
  display: none;
}

#language{
  margin-left: 0.5em;
}

#sub-search-bar{
  display: none;
}

.image-container{
  max-width: 350px;
}

.product-heading{
  margin: 0;
  margin-bottom: 4px;
}

#product-list{
  font-size: 14px;
}

.whatsapp{
  border-radius: 5px;
  background-color: white;
  width: 60px;
  height: 37px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 0.5em;
}

.call-numbers{
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.whatsapp-numbers{
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.numbers{
  font-size: 15px;
  font-weight: 700;
  color: #414012;
}

.seller-details{
  background-color: #f1f1f2;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 15px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#main-content{
  flex-grow: 1;
}

#section-headers{
  display: none;
  margin-top: 16px;
  margin-left: 16px;
}

.section-heading{
  background-color: white;
  padding: 8px 16px;
  border-radius: 12px;
  color: #414042;
  font-weight: 700;
  text-align: center;
}

.red-heading{
  color: #d63322;
  margin-left: 16px;
  margin-bottom: 4px;
}

.seller-details hr{
  width: 88%;
  margin-top: 0;
}

.overview-box{
  padding-left: 16px;
  padding-right: 16px;
}

.overview-box h5{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.overview-box p{
  font-size: 14px;
  margin-top: 0px;
}

.overview-box img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#photos{
display: flex;
flex-wrap: wrap;
padding-left: 16px;
padding-right: 16px;
}

.seller-photos{
  height: 80px;
  object-fit: cover;
  width: 100px;
}

#add-image-div{
  margin: 4px;
}

#overview-heading:hover, #photo-heading:hover, #review-heading:hover, #addSocialMedia:hover{
  cursor: pointer;
}

#overlay-review, #overlay-report{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#reviewBox, #reportBox{
  background-color: #f1f1f2;
  width: 70%;
  max-width: 400px;
  margin: 100px auto 0;
  border-radius: 15px;
  position: relative;
  padding-bottom: 16px;
}

.modal-heading{
  text-align: center;
  padding-top: 16px;
}

.close{
  height: 15px;
  width: 15px;
  position: absolute;
  top: 16px;
  right: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.result:hover{
  background-color: #f1f1f2;
  border: none;
  box-shadow: none;
  transition: none;
}

#submitDiv{
  font-weight: 700;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}

#submitDiv button{
  padding: 0.25em 1em;
  font-weight: 700;
}

.submitquestionDiv{
  text-align: center;
}

.submitButtonsDiv{
  margin-top: 8px;
}

form input{
  color: #6d6e71;
  border-radius: 7px;
  padding: 0.65em 0.75em;
  border: 1px solid grey;
  width: 100%;
}

textarea{
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0.65em 0.75em;
}

.socialMediaLink label{
  display: block;
  margin-bottom: 8px;
}

#imageUpload{
  display: none;
}

#add-image:hover, .close:hover{
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 1s;
  transition-property: opacity;
}

.social-media-icon{
  height: 35px;
  width: 35px;
  margin: 8px;
}

.social-media-icon:hover{
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 1s;
  transition-property: opacity;
}

#profilePhotoButtons{
display: none;
position: absolute;
z-index: 100;
top: 40%;
left: 10%;
}

.image-outline, .seller-photo-outline{
    position: relative;
}

.seller-photo-outline{
  margin: 4px;
}

.removeSellerPhoto{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 25;
}

.removeSellerPhoto:hover{
  cursor: pointer;
}

/* media queries */

@media(max-width: 450px)
{
  #heading{
    display: none;
  }
}

@media(min-width: 600px)
{
  .result{
    flex-direction: row;
    padding-bottom: 0;
  }

  .whatsapp-numbers{
    padding-bottom: 12px;
  }

  .image-container{
    max-width: 300px;
  }

  .grid-photo{
    height: auto;
    max-height: 250px;
  }

  .info{
    padding-top: 20px;
    flex-grow: 1;
    margin-right: 16px;
  }

  #section-headers{
    display: flex;
    justify-content: space-around;
  }

  .seller-details{
    display: flex;
  }

  .seller-details hr{
    display: none;
  }

  .red-heading{
    display: none;
  }

  .selected{
    color: white;
    background-color: #d63322;
  }

  .business-area{
    display: flex;
    padding-top: 8px;
  }

  #ba{
    max-width: 50%;
  }

  #photo-container, #reviews{
    display: none;
    padding-top: 20px;
  }

  #photos{
    padding-left: 24px;
  }

  .seller-photos{
    width: 100px;
    height: 100px;
    margin: 4px;
  }

  .seller-photo-outline{
    margin: 0;
  }

  #add-image-div{
    margin: 0;
  }

  .overview-box{
    padding-left: 24px;
    flex-grow: 1
  }

  .submitquestionDiv{
    display: flex;
    align-items: center;
    text-align: initial;
  }

  .submitButtonsDiv{
    margin-top: 0px;
    margin-left: 12px;
  }
}

@media(min-width: 700px)
{
  #search-icon-mobile{
    display: none;
  }

  #account-icon{
    display: none;
  }

  #account-link{
    display: inline;
    margin-left: 16px;
  }

  #nav-search{
    display: flex;
    flex-grow: 1;
  }

  #loli-logo{
    width: 45px;
    height: 45px;
  }

  #searchbarres{
    padding: 10px 12px;
  }

   #search-icon{
     height: 38px;
   }

   select{
     padding: 10px;
   }

   #overview-heading, #photo-heading, #review-heading{
     width: 47%;
   }

}

@media(min-width: 1000px)
{
  .info h4{
    font-size: 20px;
    margin-bottom: 16px;
  }

  .product-heading{
    font-size: 16px;
    margin-bottom: 4px;
  }

  #product-list{
    font-size: 16px;
  }

  .numbers{
    font-size: 16px;
  }

  .overview-box h5{
    font-size: 16px;
  }

  .overview-box p{
    font-size: 16px;
  }

  #account-link{
    margin-left: 48px;
    margin-right: 12px;
  }
}
